//
//  Custom MiniBasket
//  _____________________________________________


//
//  Common (styles-m.css)
//  _____________________________________________
& when (@media-common = true) {
  .minicart-wrapper {
      .minicart-items {
        .action.delete:before {
          content: '\e616';
        }
        .product.active>.toggle:after {
          content: ' ';
        }
      }
      .subtotal {
        text-align:left;
        margin:0 0 10px 0;
      }
      .amount .price-wrapper:first-child .price {
        font-size:2.6rem;
        font-family: @proxima-bold;
        color:@base-font-color;
      }

      .custom-minibasket-wrapper {
        width:375px;
        padding: 0px;
        position: absolute;
        right:0;
        background: @white;
        box-shadow: 0px 0px 20px #EEEFF0;

        .product-item {
          .product {
            padding: 15px;
            .product-image-photo {
              padding-top: 15px;
            }
            .product-item-details {
              border: 2.5px solid @light-grey;
              padding-left:0;

              .hr {
                width:90%;
                margin-left:5%;
              }
              .cart-item-qty {
                color:@brand-blue;
                font-family: @proxima-bold;
              }
              .product-subtotal {
                padding:15px;
                .subtotal {
                  display:inline-block;
                  font-family: @proxima-bold;
                }
                .price-excluding-tax {
                  margin:0;
                }
                .details-map {
                  display:inline-block;
                }
              }
              .product.actions {
                position: relative;
                top: -65px;
                left: 5px;
              }
              .product.options {
                span {
                  color:@brand-blue;
                  font-family: @proxima-bold;
                }
              }
              .display-content {
                display:block!important;

                .product.options.list {
                  padding-left:0;

                  dd {
                    margin-bottom: 0;
                  }

                  .label {
                    display:inline-block;
                  }
                  .values {
                    color:@brand-blue;
                    font-family: @proxima-bold;
                    display:inline-block;
                    float:right;
                     span {
                       float:right;
                     }
                  }
                }
              }
              .price-container {
                display:inline-block;
                float:right;
                color:@brand-blue;
                font-family: @proxima-bold;
              }
              .details-qty {
                text-transform: capitalize;
                color: @base-font-color;
                display:inline-block;
              }
              .details-map {
                text-align: right;
              }
              .action.delete {
                border: 2.5px solid @light-grey;
                border-radius: 50px;
              }
              .product-item-name {
                padding-top: 15px;
                width: 270px;
                a {
                  color: @base-font-color;
                }
              }
            }
          }
        }
        .block-content {
          height: 100vh;

          .actions {

            .action.primary {
              background: @brand-green;
              border:1px solid darken(@brand-green, 15%);
              line-height: 2.2rem;
              padding: 14px 20px;
              font-size: 1.8rem;

            }
            .action.viewcart {
              line-height: 2.2rem;
              padding: 14px 20px;
              font-size: 1.8rem;
            }
          }

          .minicart-items-wrapper {
            border:0px;
            margin:0;
            padding:0;

            .product-item-name {
              color:@base-font-color;
              font-family: @proxima-bold;
            }
          }
        }
        .summary-wrapper {
          padding:20px;
          width:92%;
          position: absolute;
          bottom: 0px;
          background:@white;

          .subtotal {

            .label {
              display:inline-block;
            }
            .price-container {
              display:inline-block;
              position: absolute;
              right: 23px;
              top: 5px;
            }
          }

          .actions {
            display:inline-block;

            .secondary {
              margin-right:10px;
            }
          }
        }
        .minibasket-header {
          background: @brand-green;
          padding: 20px;
          color: @white;

          .close {
            color: @white;
          }
        }
        .continue-shopping {
          margin:10px;
          text-align: center;
          .link {
            color:@base-font-color;
            font-family: @proxima-regular;
          }

        }
        .checkout-basket .checkout-close {
          display: inline-block;
          line-height: 22px;
          font-size: 18px;
          font-family: @proxima-bold;
        }

        .block-minicart {
          padding: 0px;
          width: 375px;
        }
        .action.close {
          width:100px;
          top:10px;

          .action-text {
            position: relative;
            top:6px;
          }
        }
      }
    }
  }

//
//  Mobile (styles-m.css)
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {

  .minicart-wrapper {

    .block-minicart {
      padding: 0;
      width: 375px;
      position: absolute;
      top: 0px;
    }
  }
}


.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

  .minicart-wrapper {

    .block-minicart {
      padding: 0;
      width: 375px;
      position: absolute;
      top: 0px;
    }
  }
}


//
//  Desktop (style-l.css)
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

  .minicart-wrapper {

    .block-minicart {
      padding: 0;
      width: 375px;
      position: absolute;
      top: -56px;
    }
  }
}